<select class="form-control" style="width: auto;"
 ng-model="vm.style"
 ng-change="handleSelect()"
 ng-options="option.id as option.display for option in options">
   <option value="">{{ placeholder }}</option>
 </select>