{%- extends config.BASE_TEMPLATE %}
{% set title = config.THEME_SITENAME %}


{%- block page_body %}
<body class="Publishing">

        <div class="pagebody">
            <div class="pagebodymiddle">
                <div class="recordbox">
                    <p class="record-description">CERN is a scientific laboratory whose main purpose is fundamental research in High-Energy Physics (HEP). An important task of the Organization is to communicate its work, discoveries, and achievements via publications in books, journals, and proceedings of conferences, in paper and/or electronic form.</p>

                    <div class="list_of_journals">
                    <div class="section">
                        <h1>Yellow Reports</h1>
                        {%- set r = "CYRCP" | record_journal %}
                        {%- if r %}
                        <div class="frontpage_journal">
                                <ul class="cmp_article_list articles">
                                    <li>
                                        <div class="result-row">
                                            <div class="result-title">
                                                <h3>
                                                    <a href="/journals/{{r[0].jrn_id}}">
                                                            {{r[0].titles.title}}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                    </li>
                                </ul>
                                </div>
                        {%- endif %}
                        {%- set r = "CYRM" | record_journal %}
                        {%- if r %}
                        <div class="frontpage_journal">
                                <ul class="cmp_article_list articles">
                                    <li>
                                        <div class="result-row">
                                            <div class="result-title">
                                                <h3>
                                                    <a href="/journals/{{r[0].jrn_id}}">
                                                            {{r[0].titles.title}}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                    </li>
                                </ul>
                                </div>
                        {%- endif %}        
                        {%- set r = "CYRSP" | record_journal %}
                        {%- if r %}
                        <div class="frontpage_journal">
                                <ul class="cmp_article_list articles">
                                    <li>
                                        <div class="result-row">
                                            <div class="result-title">
                                                <h3>
                                                    <a href="/journals/{{r[0].jrn_id}}">
                                                            {{r[0].titles.title}}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                    </li>
                                </ul>
                                </div>
                        {%- endif  %}
                        {%- set r = "CYR" | record_journal %}
                        {%- if r %}
                        <div class="frontpage_journal">
                                <ul class="cmp_article_list articles">
                                    <li>
                                        <div class="result-row">
                                            <div class="result-title">
                                                <h3>
                                                    <a href="/journals/{{r[0].jrn_id}}">
                                                            {{r[0].titles.title}}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                    </li>
                                </ul>
                                </div>
                        {%- endif  %}
                    </div>
                    <div class="section">
                            <h1>Series</h1>
                            {%- set r = "CP" | record_journal %}
                                {%- if r %}
                                <div class="frontpage_journal">
                                        <ul class="cmp_article_list articles">
                                            <li>
                                                <div class="result-row">
                                                    <div class="result-title">
                                                        <h3>
                                                            <a href="/journals/{{r[0].jrn_id}}">
                                                                    {{r[0].titles.title}}
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                {%- endif  %}
                            {%- set r = "Annual_Report" | record_journal %}
                            {%- if r %}
                            <div class="frontpage_journal">
                                    <ul class="cmp_article_list articles">
                                        <li>
                                            <div class="result-row">
                                                <div class="result-title">
                                                    <h3>
                                                        <a href="/journals/{{r[0].jrn_id}}">
                                                                {{r[0].titles.title}}
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                        </li>
                                    </ul>
                                    </div>
                            {%- endif  %}
                        </div>
                            <div class="section">
                                    <h1>Journals</h1>
                                    {%- set r = "CIJ" | record_journal %}
                                    {%- if r %}
                                    <div class="frontpage_journal">
                                            <ul class="cmp_article_list articles">
                                                <li>
                                                    <div class="result-row">
                                                        <div class="result-title">
                                                            <h3>
                                                                <a href="/journals/{{r[0].jrn_id}}">
                                                                        {{r[0].titles.title}}
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                                </li>
                                            </ul>
                                            </div>
                                    {%- endif  %}
                                    {%- set r = "PriSE" | record_journal %}
                                    {%- if r %}
                        <div class="frontpage_journal">
                                <ul class="cmp_article_list articles">
                                    <li>
                                        <div class="result-row">
                                            <div class="result-title">
                                                <h3>
                                                    <a href="/journals/{{r[0].jrn_id}}">
                                                            {{r[0].titles.title}}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="summary">{{r[0].descriptions.description|safe|truncate}}</div>
                                    </li>
                                </ul>
                                </div>
                        {%- endif  %}
                    </div>  
                </div>
                <br/>
                <div class="bottom-left"></div>
                <div class="bottom-right"></div>
            </div>
        </div>
    </div>

    </body>
{%- endblock %}