{%- macro altmetric_badge(doi, badge_type='donut', badge_details='', badge_popover='', hide_no_mentions=True, css_class='', with_script=False) %}
<div class="altmetric-embed{% if css_class %} {{css_class}}{% endif%}" data-badge-type="{{badge_type}}" {% if badge_popover %} data-badge-popover="{{badge_popover}}"{% endif%} 
data-hide-no-mentions="{{hide_no_mentions}}" data-doi="{{doi}}"
{% if badge_details %}data-badge-details="{{badge_details}}"{% endif%}></div>
{%- if with_script %}
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{%- endif %}
{%- endmacro %}
