{%- macro authors(authors_list) %}
{%- for author in authors_list %}
{%- if author.orcid %}
<a href="{{author.orcid}}" target="_blank"><img class="inline-orcid" src="{{ url_for('static', filename='img/orcid.png')}}" /></a>
{%- endif %}
<span {% if author.affiliation %}data-toggle="tooltip" title="{{author.affiliation}}"{% endif %} id="authors">{{author.fullname}}</span>{% if not loop.last %}; {% endif %}
{%- endfor %}
{%- endmacro %}

