<span ng-show="vm.invenioSearchResults.hits.total != undefined">
    <strong>
    <ng-pluralize
    count="vm.invenioSearchResults.hits.total"
    when="{'0': 'No results.',
    'one': '1 record found.',
    'other': '{} records found.'}">
   </ng-pluralize></strong></span>


      