<div ng-show='vm.invenioSearchError.name'>
      <span style="margin-top:30px;display:table;width:100%"><strong translate>Error:</strong> {{ vm.invenioSearchErrorResults.message }}
        <small ng-if="vm.invenioSearchErrorResults.error_id">Error ID: {{vm.invenioSearchErrorResults.error_id}}</small></span>
</div>
