        <div class="filter_column">
            <div id="facet_filter">
            </div>
            <div ng-init="tree=[];tree_more=[]" ng-repeat="aggr in orderedAggs track by $index" ng-if="aggr.value.buckets.length > 0 || getValues(aggr.key)">
            <h2>{{aggr.key}}</h2>
            <ul class="option-fct">

                <li  ng-init="values = getValues(aggr.key)" ng-repeat="item in aggr.value.buckets"> <!-- ng-if="item.status != 'deleted'" -->
                    <div class="checkbox">
                        <input id="desktopcheckbox1-fct__{{$parent.$index}}-{{$index}}" type="checkbox" ng-checked="values.indexOf(item.key) > -1" ng-click="handleClick(aggr.key, item.key)">
                        <label for="desktopcheckbox1-fct__{{$parent.$index}}-{{$index}}">
                            <span ng-if="item.name != null" class="">{{ item.name }}</span>
                            <span ng-if="item.name == null" class="">{{ item.key }}</span>
                        </label>
                        <span class="pull-right">{{ item.doc_count }}</span>
                        <!-- <small>
                            <a
                            ng-init="tree_more[item.key]=false;tree[item.key]=(handler[key].indexOf(item.key) > -1) ? true : false"
                            ng-model="tree[item.key]"
                            ng-show="tree_more[item.key]"
                            ng-click="tree[item.key]=!tree[item.key]"
                            >
                            {{ (tree[item.key]) ? '-' : '+' }}
                            </a>
                            <span ng-show="tree_more[item.key]===false" style="padding-left:15px"></span>

                        </small> -->
                    </div>
                </li>

            </ul>
        </div>

        </div>
