<table>
        <tbody>
            <tr ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
                <td valign="top">
                        <div ng-if="record.links.thumb250" class="record thumb"> <img ng-src="{{record.links.thumb250}}"> </div>
                        <div class="result-row">
                            <div style="overflow:hidden">
                                <div class="result-title">                
                                    <a href="{{record.links.html}}">
                                        {{record.metadata.titles.title}} 
                                    </a> 
                                    </div>
                                    <div class="authors">
                                            <span ng-if="record.record_type" class="badge badge-light">{{record.record_type}}</span>
                                        <span ng-repeat='author in record.metadata.authors' ng-if='author' id="authors">{{author.fullname}}<span ng-if='!$last'>; </span></span></div>        
                                <div class="result-abstract">
                                        <div class="">{{(record.metadata.descriptions.description | stripTags | limitTo: 180) + (record.metadata.descriptions.description.length > 180 ? '...' : '')}}</div>
                                        <div class="published">
                                                <i ng-if="record.metadata.publication_date" class="fa fa-calendar"></i>
                                                {{record.metadata.publication_date}}
                                                <span ng-if="record.metadata.doi" class="separator">  |  </span>
                                                <span ng-if="record.metadata.doi"> DOI:
                                                                             <a href="{{record.links.doi}}" title="DOI" target="_blank">{{record.metadata.doi}}</a></span>
                                        </div>
                                </div>
        
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>