<div class="search">
    <form class="search-form">
        <input type="text"
            placeholder="{{ placeholder }}"
            ng-model="vm.userQuery"
            ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
            ng-keyup="$event.keyCode == 13 && updateQuery()"/>
        <input ng-click="updateQuery()" type="submit" value="Search">
    </form>
</div>