

        <h2>Sort by:</h2>
        <div class="filter_column">
            <input type="hidden" name="sf" value="">
            <ul class="option-sf" >
                <li>
            <select name="select-{{ data.sortParameter }}" ng-model="data.selectedOption" ng-change="handleFieldChange()" style="margin-top: 8px">
                    <option ng-repeat="option in data.availableOptions.options"
                        value="{{ option.value }}"
                        ng-selected="isSelected(option.value)">{{ option.title }}</option>
            </select>
        </li>
            </ul>
        </div>
