<select name="select-order-{{ data.sortKey }}" ng-model="whichOrder" ng-change="handleOrderChange()">
    <option value="desc" ng-selected="whichOrder === true">desc.</option>
    <option value="asc" ng-selected="whichOrder === false">asc.</option>
