{% extends config.SEARCH_UI_RESULTS_TEMPLATE %}

{%- block body_inner %}
<div id="invenio-search">
  <invenio-search
   search-endpoint="/api/records"
   search-headers='{"Accept": "{{ config.SEARCH_UI_SEARCH_MIMETYPE|default('application/json')}}"}'
  >
  {{super()}}
  </invenio-search>
</div>
{%- endblock body_inner %}

{%- set sort_options = config.get('RECORDS_REST_SORT_OPTIONS', {}).get(config.SEARCH_UI_SEARCH_INDEX_GLOBAL)%}


{%- block sort_bar-%}
{%- if sort_options %}

<invenio-search-select-box
            sort-key="sort"
            available-options='{{ sort_options|format_sortoptions|safe }}'
            template="{{ url_for('static', filename='templates/publishing_search_ui/sort.html') }}"
></invenio-search-select-box>
<invenio-search-sort-order
sort-key="sort"
template="{{ url_for('static', filename='templates/publishing_search_ui/togglebuttonsort.html') }}"
>
</invenio-search-sort-order>
{%- endif %}

{%- endblock sort_bar-%}

{%- block sort_menu-%}

{%- if sort_options %}
<div class="row" id="search-options">
        <div class="col-md-4 col-sm-4 col-xs-12 option-column">
            <invenio-search-select-box
                sort-key="sort"
                available-options='{{ sort_options|format_sortoptions|safe }}'
                template="{{ url_for('static', filename='templates/publishing_search_ui/sort.html') }}"
                >
            </invenio-search-select-box>
            <invenio-search-sort-order
                sort-key="sort"
                template="{{ url_for('static', filename='templates/publishing_search_ui/togglebuttonsort.html') }}"
            >
            </invenio-search-sort-order>
        </div>
</div>
{%- endif %}
{%- endblock sort_menu-%}
