{% extends config.SEARCH_UI_BASE_TEMPLATE %}

{% set header_title = config.THEME_SITENAME %}
{%- if record %}
    {%- set header_title = record.search_journal_id  %}
    {%- set body_css_classes=[record.search_journal_id]%}

{%- endif %}

{%- block javascript %}   
{{super()}}   
{{ webpack['publishing-search-js.js'] }}

<script>
        function toggle_sort_by() {
            var search_menu = $('#search-menu');
            if (search_menu.hasClass("expanded")) {
                search_menu.removeClass("expanded");
                search_menu.slideUp(400, "swing", function() {});
            } else {
                search_menu.slideDown(400, "swing", function() {
                    search_menu.addClass("expanded");
                });
            }
        }
</script>
{%- endblock javascript %}



{%- block page_body %}

<body class="Publishing">

    <div class="pagebody">
        <div class="pagebodymiddle">
                {%- block search_bar-%}
                <invenio-search-bar
                    template="{{ url_for('static', filename='templates/publishing_search_ui/searchBar.html') }}"
                    placeholder="{{ search_input_placeholder|default(_('Search')) }}">
                </invenio-search-bar>
                {%- endblock search_bar-%}            
                <div class=" options-button-wrapper">
                        <table class="searchresultsbox" style="border: none;">
                                <tbody>
                                    <tr>
                                        <td class="searchresultsboxheader" align="left">
                                                <invenio-search-count
                                                template="{{ url_for('static', filename='templates/publishing_search_ui/count.html') }}">
                                               </invenio-search-count>
                                        </td>
                                        <td class="searchresultsboxheader" align="center">
                                                <button class="options_button formbutton" type="button" onclick="toggle_sort_by()"><i class="fa fa-fw fa-bars"></i></button>
                                                <div id="search-menu-right" >
                                                    {%- block sort_bar-%}
                                                    {%- endblock sort_bar-%}

                                                </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
                <div id="left-menu-container">
                    <div id="search-menu" class="" style="overflow: hidden; display: none;">
                            {%- block sort_menu-%}
                            {%- endblock sort_menu-%}
                            {%- block menu_facets-%}
                            <div class="row">
                                <div class="hidden-md-up col-md-12 col-sm-12 col-xs-12">
                                    <invenio-search-facets
                                        template="{{ url_for('static', filename='templates/publishing_search_ui/facets.html') }}">
                                    </invenio-search-facets>
                                </div>
                            </div>
                            {%- endblock menu_facets-%}
                    </div>
                    {%- block facets-%}
                    <div id="search-facets">
                        <invenio-search-facets
                            template="{{ url_for('static', filename='templates/publishing_search_ui/facets.html') }}">
                        </invenio-search-facets>
                    </div>
                    {%- endblock facets-%}
                </div>

                <table class="searchresultsbox">
                        <tbody>
                            <tr>
                                <td class="searchresultsboxheader" align="left">

                                </td>
                                <td class="searchresultsboxheader" align="center">
                                        
                                       <!-- <invenio-search-pagination
                                            template="{{ url_for('static', filename='templates/publishing_search_ui/navigation.html') }}">
                                        </invenio-search-pagination>
                                     -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <invenio-search-error
                    template="{{ url_for('static', filename='templates/publishing_search_ui/error.html') }}"
                    message="{{ _('Search failed.') }}">
                </invenio-search-error>
                <div class="search-results">
                    <invenio-search-results
                        template="{{ url_for('static', filename='templates/publishing_search_ui/results.html') }}">
                    </invenio-search-results>
                </div>
                
           
                <div align="center">
                        <invenio-search-pagination
                         template="{{ url_for('static', filename=config.SEARCH_UI_JSTEMPLATE_PAGINATION) }}">
                        </invenio-search-pagination>
                      </div>
            <br/>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
        </div>
    </div>

</body>

{% endblock %}