{%- extends "publishing_records/article_body.html" %}
{%- from "publishing_records/macros/altmetric.html" import altmetric_badge -%}
{%- if record.search_journal_id -%}
{%- set path = record.search_journal_id | html_template('articles', '_articles') %}
{%-else -%}
{%- set path = '' | html_template('articles', '_articles') %}
{%- endif %}

{%- block information %}
                       
{%- if path %}                    
{%- include path %}
{%- else %}
    {% if record._files %}
        <br id="full_issue br">
        <div class="galleys-article" id="full_article">
                <h2>Files</h2>
                <ul class="galleys_links">
                    {%-for file in record._files|sort(attribute='key')  %}
                    {% if file.type is previewable %}
                    {%- set file_url = url_for('invenio_records_ui.art_id_preview', pid_value=record.art_id, filename=file.key) %}
                    {%- else -%}
                    {%- set file_url = url_for('invenio_records_ui.art_id_files', pid_value=record.art_id, filename=file.key, download=1) %}
                    {%- endif -%} 
                    {%- if file.galley_type != "Cover" %}
                    <li>
                        <a class="obj_galley_link {{file.type}}" href="{{file_url}}" target="_blank">
                            {{file.label}}
                        </a>
                    </li>
                    {%- endif %}
                    {%- endfor -%}
                    {% if record.related_urls %}
                    {%-for url in record.related_urls  %}
                    <li>
                        <a class="obj_galley_link url" href="{{url.related_url}}" target="_blank">
                            {{url.label}}
                        </a>
                    </li>
                    {%- endfor -%}
                    {%- endif %}    
                    <a  class="get-info" href="/articles/{{pid.pid_value}}/files">show all</a>
                </ul>
            </div>
        {%- endif %}
<!-- Record Info-->
<!-- Abstract -->
<br id="full_issue br">
<div class="galleys-article" id="full_article">
    {%- if record.descriptions and record.descriptions.description %}
    <h2>Abstract</h2>
    <div class="record-description">
            {{ record.descriptions.description| sanitize_html| safe }}
    </div>
    {%- endif %}
        {%- if record.license and record.license.url and record.license.title %}
                <div class="media-body">
                    <p class="record-description">Content from this work may be used under the terms of the<a href="{{record.license.url}}"> {{record.license.title}}</a>.
                    </p>
                </div>
        {%- endif %}
</div>
<br id="full_issue br">
<div class="galleys-article" id="full_article">
    {%- include "publishing_records/box/cite.html" -%}
<br id="full_issue br">
</div>
<div class="galleys-article" id="full_article">
    <h2 id="metrics_title">Metrics</h2>
    {%- set stats = record|record_stats or {} %}
    <div class="stats_wrap">

    <div class="article-stats" id="article_detail">
            <a href="/articles/{{pid.pid_value}}/statistics" class="stat-block">
                <div class="stat-number">{{ stats.views | stats_num_format}}</div>
                <div class="stat-label">{{ tooltip_icon('Views.', icon='eye', _class='') }} Views</div>
            </a>
            <a href="/articles/{{pid.pid_value}}/statistics" class="stat-block">
                <div class="stat-number">{{ stats.downloads | stats_num_format }}</div>
                <div class="stat-label">{{ tooltip_icon('Downloads.', icon='download', _class='') }} Downloads</div>
            </a>
        </div>
                {%- if record.doi %}
                {{ altmetric_badge(record.doi, badge_popover='right', css_class='altmetric') }} <!--change to record.doi-->
                {%- endif %}   
    </div>
</div>



{%- endif %}
{%- endblock %}
