{%- extends "publishing_records/article_body.html" %}
{%- set canonical_url = url_for('invenio_records_ui.art_id', pid_value=pid.pid_value) %}

{% block article_title %}
{%- if record.titles -%}
<a href="{{canonical_url}}"><h2 class='record-title'>{{record.titles.title}}</h2></a>
{%- endif %}
{% endblock %}

{%- if record.search_journal_id -%}
{%- set path = record.search_journal_id | html_template('articles', '_files') %}
{%-else -%}
{%- set path = '' | html_template('articles', '_files') %}
{%- endif %}

{%- block files %}
                       
{%- if path %}                    
{%- include path %}
{%- else %}
{%- set files = record._files %}
{%- if record._files -%}

{%- include "publishing_records/box/files.html" %}
{%- endif %}
{%- endif %}   

{%- endblock %}

