{%- extends "publishing_records/article_body.html" %}
{%- set canonical_url = url_for('invenio_records_ui.art_id', pid_value=pid.pid_value) %}
{%- set views, downloads, months =  record|record_stats_chart %}

{%- block javascript %}
{{super()}}
{{ webpack['publishing-stats-js.js'] }}

  <script type="module">
    var downloads= [];
    {%- if fil != 'disabled' %}
      var downloads = {{downloads | tojson}};
    {%- endif %}
        $(document).ready(function() {
            getStats({{views | tojson}}, {{months | tojson}}, downloads)
          });
      </script>  
{%- endblock javascript %}

{% block article_title %}
{%- if record.titles and record.titles.title -%}
<a href="{{canonical_url}}"><h2 class='record-title'>{{record.titles.title}}</h2></a>
{%- endif %}
{% endblock %}

{%- if record.search_journal_id -%}
{%- set path = record.search_journal_id | html_template('articles', '_stats') %}
{%-else -%}
{%- set path = '' | html_template('articles', '_stats') %}
{%- endif %}
{%- block statistics %}
                       
{%- if path %}                    
{%- include path %}
{%- else %}
{%- include "publishing_records/box/record_statistics.html" %}
{%- endif %}   
{%- endblock %}
