{%- extends "publishing_records/base_body.html" %}
{%- set cover_url = record|cover_image %}

{%- block articles %}
            <div class="top-left-folded"></div>
            <div class="top-right-folded"></div>
            <div class="inside">
                <div style="height:0.1em;">&nbsp;</div>                 
                    <p class="notopgap">&nbsp;</p>
                    <abbr class="pid" title="{{pid}}"></abbr>
                    <br>
                    {% block article_title %}
                    {%- if record.titles and record.titles.title -%}
                    <h2 class='record-title'>{{record.titles.title}}</h2>
                    {%- endif %}
                    {% endblock %}
                    {%- set published_journal = record | journal_title %}
                    {%- set published_issue = record | issue_title -%}
                    <div class="obj_article_toc"  {%- if cover_url %}id="with_cover"{%- endif %}>
                    {%- if cover_url %}
                    <a class="cover">
                        <img src="{{cover_url}}"">
                    </a>
                    {%- endif %}
                    <div class='record-metadata record-authors'>{{authors(record.authors)}}</div>
                    {%- if record and record.search_journal_id %}
                    <span class="info-value" id="issues">Published in <a href="/journals/{{record.search_journal_id}}" title="Journal">{{record | journal_title}}</a></span>
                    {%- endif %}
                    {%- if record.search_issue_id -%}
                    <span class="info-value">Issue: 
                        {%- if published_issue %}<a href="/issues/{{record.search_issue_id}}" title="Issue"> {{published_issue}} </a>
                        {%- else -%}
                        {%- set issue_volume = record | issue_info('volume') -%}
                        {%- set issue_number = record | issue_info('issue') -%}
                        {%- set issue_year = record | issue_info('year') -%}
                        <a href="/issues/{{record.search_issue_id}}" title="Issue">
                            {%- if issue_volume %} Volume {{issue_volume}}{%- endif %}
                            {%- if issue_number %}, Number {{issue_number}}{%- endif %}
                            {%- if issue_year %}, {{issue_year}}{%- endif %}
                        {%- endif %}
                        </a>
                    </span>
                    {%- endif %}
                    {%- if record.section %}
                    <span class="info-value">{{_('Section')}}: {{record.section}}</span>
                    {%- endif %}
                    {%- if record.doi %}
                    <span class="info-value">{{_('DOI')}}: <a href="http://dx.doi.org/{{record.doi}}" title="DOI" target="_blank">{{record.doi}}</a></span>
                    {%- endif %}
                    {%- if record.keywords %}
                    <span class="info-value">{{_('Keywords')}}: 
                        {%- for keyword in record.keywords %}
                        <a href="{{url_for('invenio_records_ui.jrn_id_search',pid_value=record.search_journal_id, Keywords=keyword)}}">
                                {{ keyword }}{% if not loop.last %}, {% endif %} </a>
                        {%- endfor %}
                    </span>
                    {%- endif %}
                    <span class="info-value">{{_('Export as')}}: 
                        <a href="/articles/{{pid.pid_value}}/export/hx">BibTeX</a>,
                        <a href="/articles/{{pid.pid_value}}/export/xm" >MARCXML</a>,
                        <a href="/articles/{{pid.pid_value}}/export/xd" >DC</a> 
                    </span>
                    </div>
                    {% block information %}{% endblock %}
                    {% block statistics %}{% endblock %}
                    {% block files %}{% endblock %}
                <div class="bottom-right-folded" style="text-align:right;padding-bottom:2px;">
                        <span class="moreinfo" style="margin-right:10px;"></span>
                </div>
            </div>
        </div>
{%- endblock %}

{%- block javascript %}
{{super()}}
        {{ webpack['publishing-citations-js.js'] }}
{%- endblock javascript %}
