{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- from "publishing_records/macros/authors.html" import authors -%}
{%- from "publishing_records/macros/tooltip_icon.html" import tooltip_icon -%}
{%- if record.titles -%}
{%- set title = record.titles.title + " | " + config.THEME_SITENAME -%}
{%- endif %}
{%- if record.search_journal_id -%}
{%- set body_css_classes=[record.search_journal_id]%}
{%- endif %}


{%- block page_body %}
<body class="Publishing">

        <div class="pagebody">
            <div class="pagebodymiddle">
                <div class="recordbox">
                    {% block articles %}{% endblock %}
                    {% block issues %}{% endblock %}
                    {% block journals %}{% endblock %}
                </div>
                <br/>
                <div class="bottom-left"></div>
                <div class="bottom-right"></div>
            </div>
        </div>
    
    </body>
{%- endblock %}

{%- block javascript %}{{super()}}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5137aff66ad9c2a1"></script>
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{%- endblock %}
