{%- extends "publishing_records/base_body.html" %}


{%- block journals %}
    <div class="recordboxcontent">
            <div class="top-left-folded"></div>
            <div class="top-right-folded"></div>
            <div class="inside">
                <div style="height:0.1em;">&nbsp;</div>
                    <p class="notopgap">&nbsp;</p>
                    <abbr class="pid" title="{{pid}}"></abbr>
                    <br>
                    {%- if record.search_journal_id -%}
                    {%- set path = record.search_journal_id | html_template('journals', '_journal') %}
                    {%-else -%}
                    {%- set path = '' | html_template('journals', '_journal') %}
                    {%- endif %}
                    {%- include path %}             

                    

                    {% block information %}{% endblock %}
                <div class="bottom-right-folded" style="text-align:right;padding-bottom:2px;">
                        <span class="moreinfo" style="margin-right:10px;"></span>
                </div>
            </div>
        </div>
{%- endblock %}

