<h2>{{_('Cite as')}}</h2>
  <div id='invenio-csl'>
    <invenio-csl>
      <invenio-csl-select
      options='{
        "aids": "AIDS",
        "apa": "American Psychology Association",
        "turabian-fullnote-bibliography": "Turabian",
        "nature-digest": "Nature Digest",
        "bibtex": "Bibtex"
      }'
      template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_SELECT_ITEM) }}"
      ></invenio-csl-select>
      <invenio-csl-error
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_ERROR) }}"></invenio-csl-error>
      <invenio-csl-loading
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_LOADING) }}"></invenio-csl-loading>
          <br>
      <invenio-csl-citeproc
        endpoint="{{ config.CSL_RECORDS_API_ENDPOINT ~ pid.pid_value }}"
        template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_CITEPROC) }}"></invenio-csl-citeproc>
    </invenio-csl>
  </div>