
<!--start file list-->
{%- set files_length = record._files|files_length -%}
<div class="galleys">
  <h2>{{ _("Files") }} <small class="text-muted">({{record.files|sum(attribute='size')|filesizeformat}})</small></h2>
  <ol type="1" class="files-list">
  {%-for file in record._files|sort(attribute='key')  %}
  {%- set download_url = url_for('invenio_records_ui.art_id_files', pid_value=pid.pid_value, filename=file.key, download=1) %}
    {% if file.type is previewable %}
    {%- set preview_url = url_for('invenio_records_ui.art_id_preview', pid_value=record.art_id, filename=file.key) %}
    {%- else -%}
    {%- set preview_url = download_url %}
    {%- endif -%} 
    {% if file.galley_type != 'Cover' %}

      <li class="files-list">
        <span class="file-label-icon {{file.type}}"></span>
        <a href="{{preview_url}}" target="_blank">{{ file.label}}</a>
        <span class="badge badge-light">{{file.size|filesizeformat}}</span>
        <div class="file-button">
            <a href="{{download_url}}" title="top" target="_blank"><i class="fa fa-download"></i></a>
        </div>
      </li>
      <div>
              <div class="file-metadata-key">{{_('Filename')}}: <span class='file-metadata-value'>{{file.file_name}}</span></div>
              <div class="file-metadata-key">{{_('checksum')}}: <span class='file-metadata-value'>{{file.checksum}}</span></div>
      </div>
      {%- endif %}  
      {%-if (not loop.last and files_length>1) or record.related_urls  -%}
      <hr>
      {%- endif %}  

  {%- endfor -%}
  {%- if record.related_urls -%}
  {%- for url in record.related_urls %}
      <li class="files-list">
        <a href="{{url.related_url}}" target="_blank">{{ url.label}}</a>
        <div class="file-button">
        <a href="{{url.related_url}}" title="top" target="_blank"><i class="fa fa-external-link"></i></a>
      </div>
      <div>
          <div>
              <div class="file-metadata-key">{{_('URL')}}: <span class='file-metadata-value'>{{url.related_url}}</span></div>
              </div>
      </div>
      {%-if not loop.last -%}
      <hr>
      {%- endif %}  

  {%- endfor %}
  {%- endif %}  

  </ol>
</div>
<br>
