<div>
{%- if record.volume %}
<p class="info-value" id="issues">{{_('Volume')}}: {{record.volume}}</p>
{%- endif %}
{%- if record.year %}
<p class="info-value" id="issues">{{_('Year')}}: {{record.year}}</p>
{%- endif %}
{%- if record and record.search_journal_id %}
<p class="info-value" id="issues">Published in <a href="/journals/{{record.search_journal_id}}" title="Journal">{{record | journal_title}}</a></p>
{%- endif %}
{%- if record.publication_date %}
<p class="info-value" id="issues">{{_('Publication Date')}}: {{record.publication_date}}</p>
{%- endif %}
{%- if record.doi %}
<p class="info-value" id="issues">{{_('DOI')}}: <a href="http://dx.doi.org/{{record.doi}}" title="DOI" target="_blank">{{record.doi}}</a></p>
{%- endif %}
<p class="info-value" id="issues">{{_('Publisher')}}: CERN</p>
</div>