{%- from "invenio_previewer/macros.html" import preview_file %}

{% set selected_file = files|select_preview_file %}


{%- if selected_file -%}
<div class="box visuallyhidden hidden" id="preview">
  <div class="galleys">
  <h2>{{ _("Preview") }}</h2>
    <div id="previewer">
        {{- preview_file('invenio_records_ui.art_id_preview', pid=pid, filename=selected_file.key) }}
    </div>
  </div>
</div>
{%- endif %}