{%- set stats = record|record_stats or {} %}

<div class="stats">
    <h2>{{ _("All Time Statistics") }}</h2>
<div class="row stats-box">
<div class="row">
<div class="article-stats">
            <span class="stat-block">
                <div class="stat-number" id="full_statistics">{{ stats.views | stats_num_format}}</div>
                <div class="stat-label" id="full_statistics">{{ tooltip_icon('Views.', icon='eye', _class='') }} Views</div>
            </span>
            <span class="stat-block">
                <div class="stat-number" id="full_statistics">{{ stats.downloads | stats_num_format }}</div>
                <div class="stat-label" id="full_statistics">{{ tooltip_icon('Downloads.', icon='download', _class='') }} Downloads</div>
              </span>            
            </div>
  </div>
<br>
</div>
<div class="stats">
<h2>{{ _("Past months") }}</h2>
<div class="chart-container" style="height:40vh; width:inherit; max-height: 400px;">
    <canvas id="StatsChart"></canvas>
</div>
</div>