
{%- for section in record.sections %}
<div class="section">
    <h2>{{section}}</h2>
        {%- set articles = section|article_sections(record) %}
        {%- for article in articles %}
        {%- set thumb_url = article._files|thumb_image %}

        <ul class="cmp_article_list articles">
            <li>
                <!-- {%- if thumb_url-%}
                <div class="record thumb" id="thumb-journal"><img src="{{thumb_url}}"></div>
                {% endif %} --> <!-- By adding this, articles will be displayed with cover-->
                <div class="result-row">
                    {%- if article.titles and article.titles.title -%}
                    <div class="result-title">
                        <a href="/articles/{{article.art_id}}">
                                {{article.titles.title}}                </a>
                    </div>
                    {%- endif %}
                    {%- if article.authors -%}
                    <div class="meta">
                    <div class="authors">
                        {{authors(article.authors)}}
                    </div>
                    {%- endif %}
                    {%- if article.pages %}
                    <div class="pages">{{article.pages}}</div>
                    {%- endif %}
                    </div>
                    <ul class="galleys_links">
                        {%-for file in article._files|sort(attribute='key')  %}
                        {% if file.type is previewable %}
                        {%- set file_url = url_for('invenio_records_ui.art_id_preview', pid_value=article.art_id, filename=file.key) %}
                        {%- else -%}
                        {%- set file_url = url_for('invenio_records_ui.art_id_files', pid_value=article.art_id, filename=file.key, download=1) %}
                        {%- endif -%}
                        {%- if file.galley_type != "Cover" %}
                            <li>
                                <a class="obj_galley_link {{file.type}}" href="{{file_url}}" target="_blank"">
                                        {{ file.label}}
                                </a> 
                            </li>
                        {%- endif %}
                        {%- endfor -%}    
                        {% if article.related_urls %}
                        {%-for url in article.related_urls  %}
                        <li>
                            <a class="obj_galley_link url" href="{{url.related_url}}" target="_blank">
                                {{url.label}}
                            </a>
                        </li>
                        {%- endfor -%}
                        {%- endif %}
                    </ul>
                </div>
            </li>

        </ul>
        {%- endfor -%}    
        <a  class="get-archives" href="/issues/{{pid.pid_value}}/search?Section={{section}}">show all</a>
    </div>
{%- endfor -%}    
