html{
    height:100%;
    font-size:14px !important
}
body{
    color:black;
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%, rgba(41,137,216,0) 50%, #fff 50%, #fff 100%),radial-gradient(circle at 50% bottom, #6396b8 0%, #386181 70%, #2a3c4d 100%) no-repeat;
    margin:0;
    padding:0;
    font-family:"Open sans",sans-serif !important;
    position:relative;
    height: 100%;
}

body.CP{
    background-color: black;  
}

body.CYRSP{
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%, rgba(41,137,216,0) 50%, #fff 50%, #fff 100%),radial-gradient(circle at 50% bottom, #6396b8 0%, #386181 70%, #2a3c4d 100%) no-repeat;    
}

body.CYRSP a.header-link:not(.has-img) {
    color: white !important;
}

a{
    text-decoration:none
}
small{
    font-size:.9286rem
}
small.nbdoccoll{
    font-size:100%
}
a:link img{
    border:none
}
a:link{
    color:#0088cc;
    background:transparent
}
a:visited{
    color:#0088cc;
    background:transparent
}
a:active{
    color:#FF5619;
    background:transparent
}
a:hover,a.hover{
    text-decoration:none !important;
    color:#FF5619;
    background:transparent
}
a.header:link {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
a.header:visited {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

a.moreinfo:link{
    color:#0088cc;
    background:transparent
}
a.moreinfo:visited{
    color:#0088cc;
    background:transparent
}
a.moreinfo:active{
    color:#FF5619;
    background:transparent
}
a.moreinfo:hover{
    color:#FF5619;
    background:transparent
}
a.examplequery:link{
    color:#0088cc;
    background:transparent
}
a.examplequery:visited{
    color:#0088cc;
    background:transparent
}
a.examplequery:active{
    color:#FF5619;
    background:transparent
}
a.examplequery:hover{
    color:#FF5619;
    background:transparent
}
a.img:hover{
    color:#FF5619;
    background:transparent
}
a.img:active{
    color:#FF5619;
    background:transparent;
    font-weight:normal
}

.space-right{
    margin-right:50px
}
.space-left{
    margin-left:90px
}
.space-top{
    margin-top:20px
}
.space-bottom{
    margin-bottom:20px
}
.mini-space-left,.pure-form-aligned .pure-control-group label.mini-space-left{
    margin-left:5px
}
.mini-space-right,.pure-form-aligned .pure-control-group label.mini-space-right{
    margin-right:5px
}
.mini-space-bottom,.pure-form-aligned .pure-control-group label.mini-space-bottom{
    margin-bottom:5px
}
.mini-space-top{
    margin-top:5px
}
.push-down{
    margin-top:40px
}

.notopgap{
    margin:0;
    height:0
}
.nobottomgap{
    margin-bottom:0;
    height:0
}
.top-left-folded{
    height:10px
}
* html .top-left-folded,* html .top-right-folded{
    display:none
}

*html #tabsSpacer{
    display:none
}

body[class] {
    min-height: 920px;
    background-attachment: fixed;
}
