.box {
  transition: all 2s linear;
  display: block;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

iframe#preview-iframe{
  border: none;
}

.file-button {
  margin: 0 7px 0 -3px;
  float: right;
  position: relative;
  color: #A1BAC5;
}

.badge{
  line-height: unset;
  font-weight: inherit;
}

li.files-list:not(:first-child) { 
  margin-top: 15px !important;
}

.file-metadata-value{
  color: rgba(0, 0, 0, 0.60);
  word-break: break-all;
}

.file-metadata-key, .file-metadata-value {
  font-weight: 200;
  font-size: 12.6px;
}

.file-label-icon{
    background: #fff;
    font-size: 13px;
    line-height: 28px;
    color: #007ab2;
    text-decoration: none;
}

.file-label-icon.png:before,
.file-label-icon.jpg:before,
.file-label-icon.svg:before,
.file-label-icon.gif:before {
    content: "\f1c5";
}

.file-label-icon.pdf:before {
    content: "\f1c1";
}

.file-label-icon.url:before {
    content: "\f0c1";
}

.file-label-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f0f6";
    margin-right: 0.25em;
}