.frontpage_journal {
    margin-bottom: 40px;
}

.list_of_journals .frontpage_journal .summary p{
    font-weight: 100;
    line-height: 1.5;
}


@media (min-width: 768px) {
    .section h1 {
        display: inline-block;
        position: relative;
        left: -15px;
        margin-top: 0;
        padding: 0 15px;
        background: #fff;
        font-size: 28px;
        font-weight: 200;
        color: rgba(0,0,0,0.54);
        line-height: 30px;

    }
}

@media (max-width: 767px) {
        .section h1 {
            font-size: 20px; 
        }
    }
