.headerbox {
    color: #000;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #345681;
    background-clip: padding;
}

.headerbox, .pageheader {
    background: none;
    margin: 0 auto;
}

.topleftmenu-wrapper {
    position: absolute;
    left: 0;
    z-index: 4;
}

.headerbox .menu {
    margin: 0 auto 10px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    z-index: 3;
}
.menu li {
    display: inline;
    text-decoration: none;
    margin-right: 10px;
}

ul.neutrallist, ol.neutrallist {
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 700px) {
.menu .headermoduleboxbodyselected, .menu .headermoduleboxbody {
    padding: 7px;
}
}
.menu .headermoduleboxbodyselected, .menu .headermoduleboxbody {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

@media (min-width: 700px){
.headermoduleboxbody {
    color: #000;
}
}

.menu .hassubmenu {
    position: relative;
    display: inline;
    border: 0 solid;
}

span.headerspan {
    color: #231f20;
    cursor: pointer;
}


.menu ul.subsubmenu {
    top: 24px;
    left: 1px;
    display: none;
}

.menu ul.subsubmenu, .menu ul.subsubsubmenu {
    position: absolute;
    background: #fff;
    background-clip: padding-box;
    z-index: 99;
    text-align: left;
    overflow-y: visible;
    overflow-x: visible;
    margin-right: 0;
    margin-left: -8px;
    padding: 4px 1px;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul.subsubmenu li {
    display: list-item !important;
    float: none !important;
    position: relative;
    background-image: none !important;
    margin-right: 0;
    border: 0;
    padding: 0;
}


.menu ul.subsubmenu li a, .menu ul.subsubmenu li .menu-element {
    color: #0088cc;
    background-color: transparent;
    background-image: none !important;
    display: block;
    padding: 8px 15px;
}
.menu a, .menu .menu-element {
    white-space: nowrap;
    text-decoration: none;
    margin: 0;
    padding: 0 6px;
}

@media (min-width: 700px){
.menu-toggle {
    display: none;
}}

@media (min-width: 700px){
ul.topmenu {
    display: block !important;
}}

@media (min-width: 700px){
.menu .headermoduleboxbodyselected, .menu .headermoduleboxbody {
    padding: 7px;
}}
.menu .headermoduleboxbodyselected, .menu .headermoduleboxbody {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}
@media (min-width: 700px){
.headermoduleboxbody {
    color: #000;
}
}

a.headerselected:visited {
    color: #231f20;
    text-decoration: none;
    white-space: nowrap;
}
a.headerselected:link {
    color: #231f20;
    text-decoration: none;
    white-space: nowrap;
}

.userinfoboxbody {
    color: #231f20;
    padding: 0 10px 2px 29px;
    font-size: 1rem;
    font-weight: 200;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

.navtrailbox {
    width: 100%;
    color: #0088cc;
    background: #fff;
    padding: 0;
    margin-top: 7px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: .7143rem;
    display: none;
}

.navtrailboxbody {
    color: #0088cc;
    padding: 5px 0 0 20px;
    border-spacing: 0;
    background: #fff;
    font-size: .7143rem;
}

.headerboxbodylogo-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.headerboxbodylogo-wrapper .headerboxbodylogo.scrolled {
    top: 29px;
    height: 120px;
}
.headerboxbodylogo-wrapper .headerboxbodylogo {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    height: 50%;
    top: -5px;
}

.headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper {
    position: absolute;
    width: 800px;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link, .headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link:visited {
    text-align: center;
    margin: 0 auto;
}

.headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link img.header-img, .headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link:visited img.header-img {
    max-height: 150px;
    max-width: 95%;
}

@media (max-width: 699px){
.topleftmenu-wrapper {
    left: 10px;
}}

@media (max-width: 860px){
.topleftmenu.headermoduleboxbody:first-of-type {
    padding-top: 0;
}}

@media (max-width: 860px){
.topleftmenu-wrapper>.menu>li {
    display: block;
}}

@media (max-width: 699px){
.menu-toggle {
    text-align: center;
    display: block;
    width: 30px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}}

@media (max-width: 699px){
.menu-icon {
    cursor: pointer;
    font-size: 2em;
    color: #231f20;
    position: relative;
    top: .25em;
}}

@media (max-width: 699px){
.topmenu.menu {
    z-index: 10;
    background-color: #fff;
    margin-top: .75em;
}}

@media (max-width: 699px){
.topmenu.menu>li {
    line-height: 1.3em;
    margin-bottom: 0;
    padding: 0;
}}

@media (max-width: 860px){
.menu.topmenu li {
    padding: 7px 3px;
    margin-right: 0;
}}

@media (max-width: 699px){
.headerboxbodylogo-wrapper .headerboxbodylogo {
    font-size: 0.7em;
    position: relative;
    top: 25px;
}}

@media (max-width: 500px){
.headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link, .headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link:visited {
    font-weight: 400;
}}


.headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link:not(.has-img), .headerboxbodylogo-wrapper .headerboxbodylogo .logo-wrapper a.header-link:visited:not(.has-img) {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    background: no-repeat 26px / 17px 0;
    font-family: Lato, sans-serif;
    font-size: 2.7em;
}

.menu-icon .fa {
    color: whitesmoke;
}

@media (max-width: 699px){
.topmenu.menu>li {
    line-height: 1.3em;
    margin-bottom: 0;
    padding: 0;
}
}

@media (max-width: 699px){
.topmenu li {
    display: block;
    margin: 0;
}
}

@media (max-width: 699px){
.topmenu.menu>li>a, .topmenu.menu>li>div>a {
    color: #0088cc;
    padding: 10px 0;
    display: block;
}
}
@media (max-width: 699px){
.topmenu.menu>li>*, .topmenu.menu>li .hassubmenu {
    display: block;
}
}