@media (min-width: 768px){
    .obj_issue_toc .cover {
        float: left;
        width: 25%;
        height: auto;
        max-height: none;
        margin-right: 20px;
    }
}

@media (min-width: 992px){
    .obj_issue_toc .cover {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
.obj_issue_toc .cover {
    display: block;
    margin-bottom: 20px;
}


@media (min-width: 992px){
    .obj_issue_toc .cover img {
        max-height: none;
    }
}

.obj_issue_toc .cover img {
    display: block;
    max-height: 250px;
    width: auto;
}

.obj_issue_toc img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.obj_issue_toc img {
    border-style: none;
}


.obj_issue_toc .description > *:last-child {
    margin-bottom: 0;
}
.obj_issue_toc .description > *:first-child {
    margin-top: 0;
}
.obj_issue_toc .sections:not(:first-child) {
    margin-top: 60px;
}

@media (min-width: 992px){
.stats, .galleys, .obj_issue_toc .section {
        margin: 30px -30px;
    }
}
@media (min-width: 768px){
.stats, .galleys, .obj_issue_toc .section {
        position: relative;
        margin: 30px -20px -50px;;
        padding: 30px;
    }
}

@media (min-width: 768px){
.stats:before, .galleys:before, .obj_issue_toc .section:before {
        content: '';
        position: absolute;
        top: 45px;
        left: 18px;
        width: 100%;
        border-top: 1px solid #ddd;
    }
}


@media (min-width: 768px) {
.stats h2, .galleys h2, .obj_issue_toc .section h2, .galleys-article h2 {
        display: inline-block;
        position: relative;
        left: -15px;
        margin-top: 0;
        padding: 0 15px;
        background: #fff;
        font-size: 16px;
        font-weight: 400;
        color: rgba(0,0,0,0.54);
        line-height: 30px;

    }
}

@media (max-width: 767px) {
.stats h2, .galleys h2, .obj_issue_toc .section h2, .galleys-article h2 {
         font-size: 20px; 
        }
    }

.cmp_article_list  {
    margin: 0;
    padding: 0;
    list-style: none;
}


.cmp_article_list > li {
    margin-bottom: 30px;
}

@media (min-width: 992px){
.pkp_structure_main {
    float: left;
    padding: 0 30px 90px;
    width: 652px;
}}
@media (min-width: 480px){
.pkp_structure_main {
    padding: 20px;
}}
.pkp_structure_main {
    padding: 10px;
}

@media (min-width: 768px){
.obj_issue_toc .heading:before, .obj_issue_toc .heading:after {
    content: " ";
    display: table;
}}

.result-row .result-title {
    font-size: 1.2857rem;
    font-weight: 200;
    margin-bottom: 3px;
    margin-top: 7px;
}

.result-row .authors span#authors {
    color: #24BB30;
}

@media (min-width: 768px){
.result-row .pages {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
}}

.result-row .pages, .result-row .published {
    color: rgba(0,0,0,0.54);
}

.result-row .meta {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    line-height: 20px;
}

.info {
    display: table;
}

.obj_galley_link {
    display: inline-block;
    padding: 0 1em;
    background: #fff;
    border: 1px solid #007ab2;
    border-radius: 3px;
    font-size: 13px;
    line-height: 28px;
    color: #007ab2;
    text-decoration: none;
}

.obj_issue_toc .galleys_links li {
    display: inline-block;
    margin-right: 1em;
}

.obj_issue_toc .galleys_links li:last-child {
    margin-right: 0;
}

.obj_galley_link.png:before,
.obj_galley_link.jpg:before,
.obj_galley_link.svg:before,
.obj_galley_link.gif:before {
    content: "\f1c5";
}

.obj_galley_link.pdf:before {
    content: "\f1c1";
}

.obj_galley_link.url:before {
    content: "\f0c1";
}

.obj_galley_link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f0f6";
    margin-right: 0.25em;
}

.result-row .galleys_links {
    margin-top: 10px;
}

.result-row .summary {
    margin: 7px 0;
}

.result-row .published {
    font-size: 0.8em;
    margin-top: 5px;
}