.record-description-journal {
    font-weight: 200;
    margin: 15px 0;
    line-height: 1.5;
}

.sections:not(:first-child) {
    margin-top: 60px;
}

@media (min-width: 992px){
        .section {
            margin: 30px -30px;
        }
    }
@media (min-width: 768px){
    .section {
        position: relative;
        margin: 30px -20px -50px;;
        padding: 30px;
    }
}

@media (min-width: 768px){
    .section:before {
        content: '';
        position: absolute;
        top: 45px;
        left: 18px;
        width: 100%;
        border-top: 1px solid #ddd;
    }
}


@media (min-width: 768px) {
    .section h2 {
        display: inline-block;
        position: relative;
        left: -15px;
        margin-top: 0;
        padding: 0 15px;
        background: #fff;
        font-size: 16px;
        font-weight: 400;
        color: rgba(0,0,0,0.54);
        line-height: 30px;

    }
}

@media (max-width: 767px) {
        .section h2 {
            font-size: 20px; 
        }
    }

 .galleys_links li {
    display: inline-block;
    margin-right: 1em;
}

 .galleys_links li:last-child {
    margin-right: 0;
}
@media (max-width: 767px) {
.galleys_links li {
    padding-bottom: 5px;
}
}

.galleys_links{
    margin: 0;
    padding: 0;
    list-style: none;
}

.thumb {
    float: left;
    margin: 10px 20px 5px 0;
    border: 1px solid #ccc;
    box-shadow: #ddd 3px 3px 2px;
}

.record.thumb img {
    width: 80px;
    height: auto;
    margin: 0 auto;
}

#thumb-journal img {
    width: 120px;
}

#journal-issues{
    display: table;
    width: 100%;
    margin-bottom: 40px;
}