@media (max-width: 1160px){
.recordboxcontent {
    float: right;
}
}

@media (max-width: 1160px){
    div.recordbox {
        width: 100%;
    }
    }


@media (max-width: 699px){
.recordboxcontent {
    width: 100%;
}
}

.record-description:not(#issues) {
    margin: 0 0 15px 0;
}

.record-description {
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.1429rem;
}

.record-title {
    font-weight: 200;
    color: #333;
    font-size: 2rem;
    margin: 10px 0;
}


.record-metadata {
    font-weight: 200;
    padding: 3px 8px 3px 0;
    margin-right: 10px;
    font-size: 1rem;
    margin-top: 11px;
}

.record-authors span#authors {
    color: #24BB30 !important;
    font-weight: 200;
}

.formbutton, .nonsubmitbutton {
    color: #fff !important;
    background: red !important;
    font-weight: normal;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    font-size: 0.8571rem;
}

@media (max-width: 699px){
.metadata-key {
    display: inline;
    margin-right: 5px;
}
}

@media (max-width: 699px){
.metadata-value {
    display: inline-block;
    margin-bottom: 10px;
}
}

@media (min-width: 700px){
.metadata-key {
    float: left;
    width: 150px;
}
}

@media (min-width: 700px){
.metadata-value {
    margin-left: 160px;
}
}

.metadata-key, .metadata-value {
    font-size: 0.9em;
    padding: 5px 0;
}

.metadata-value, .info-value {
    font-weight: 200;
}
.info-value {
    display: block;
    font-size: 0.9em;
}
.info-value:not(#issues){
    padding: 2px 0;
}

@media (min-width: 700px){
.metadata-value {
    margin-left: 160px;
}
}
.clearfix {
    content: "";
    display: table;
    // clear: both;
    // width: 100%;
}

.improved-record-actions, .improved-record-actions-2 {
    list-style-type: none;
    padding: 0;
}

@media (min-width: 700px){
.open_btn {
    display: none;
}
}

.pagebody{
    margin: 120px 0 0;
    padding:15px 20px 50px;
    background:#fff
}
.pagebody.standard-style{
    min-height:1000px;
    background:#fff
}
body .pagebody{
    box-shadow:#999 0 -10px 30px -20px;
    min-height: 972px;
    overflow: auto;
}

.pagebodymiddle{
    color:#000;
    padding:0;
    margin:0
}
.pagebodymiddle {
    max-width: 800px;
    margin: 0 auto !important;
}
.pagebodystriperight{
    color:#000;
    background:#fff;
    font-size:.7143rem;
    width:120px;
    float:right
}


div.recordbox {
    width:90%;
    margin:auto;
    position:relative;
    max-width:1280px;
    display:table
}
div.recordbox img,div.detailedrecordminipanel img{
    border:none
}

div.recordbox div.recordboxcontent{
    padding-bottom:3px;
    padding-top:1px
}

div.recordboxcontent .detailed_header{
    font-family:'Open Sans';
    font-size:160%;
    font-weight:200
}
div.detailedrecordminipanel{
    border:1px solid #ddd;
    padding-top:3px;
    padding-bottom:3px
}
div.detailedrecordminipanel{
    background-color:#f7f7f7
}

@media (max-width: 699px){
    body .pagebody {
    min-height: 900px;
}}

@media (max-width: 699px){
.pagebody {
    margin-top: 30px;
}}

.get-info{
    font-style: italic;
    font-size: .85em;
    vertical-align: bottom;
}
.get-archives{
    vertical-align: bottom;
    font-style: italic;
}
@media (min-width: 768px){
.get-archives{
    float: right;
}
}

.article-stats {
    text-align: center;
}

.article-stats .stat-block {
    float: none;
    display: inline-block;
    width: 20%;
    margin-right: -5px !important;
}

@media screen and (max-width: 580px){
.article-stats .stat-block {
    width: 40%;
    margin-left: 0%;
}}
.article-stats .stat-block {
    text-align: center;
    border-right: 1px solid #dddddd;
    padding: 0.625rem;
    transition: all 0.3s ease-in-out;
}
.article-stats .stat-block .stat-number {
    color: #08c;
    font-weight: 100;
    font-size: 1.7em;
}

.article-stats .stat-block .stat-label {
    font-size: 0.875rem;
    color: #08c;
}

.article-stats .stat-block:last-child {
    border-right: 0px solid #dddddd;
}

.article-stats .stat-block:last-child {
    margin-right: 0;
}

.article-stats .stat-block:not(span):hover {
    background-color: #08c;
}
.article-stats .stat-block:not(span):hover .stat-number, .article-stats .stat-block:not(span):hover .stat-label {
    color: #ffffff;
}
#full_statistics:not(.stat-label){
    font-size: 0.875rem;
    font-weight: 100;
    font-size: xx-large;
}
#full_statistics{
    color: #000;
}

#issues-result {
     display: table;
}

.export_article{
    color: #757575;
    margin-right: 8px;
    font-size: 0.8571rem;
}

@media (min-width: 768px){
    .obj_article_toc .cover {
        float: left;
        width: 25%;
        height: auto;
        max-height: none;
        margin-right: 20px;
    }
}

@media (min-width: 992px){
    .obj_article_toc .cover {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
.obj_article_toc .cover {
    display: block;
    margin-bottom: 20px;
}


@media (min-width: 992px){
    .obj_article_toc .cover img {
        max-height: none;
    }
}

.obj_article_toc .cover img {
    display: block;
    max-height: 250px;
    width: auto;
}

.obj_article_toc img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.obj_article_toc img {
    border-style: none;
}
.obj_article_toc#with_cover {
    overflow: auto;
    padding-top: 2px;
}

.obj_article_toc{
    overflow: initial;
    padding-top: 0;
}