#search-facets {
    position: absolute;
    top: -8px;
    left: -220px;
    width: 180px;
    text-align: left;
}

@media (max-width: 1250px){
.search #search-facets {
    width: 100%;
}
}
@media (max-width: 799px){
#search-facets {
    font-size: 0.9em;
}
}
@media (max-width: 1250px){
#search-facets {
    display: none;
}
}
@media (max-width: 1250px){
#search-facets, #search-facets.fixed {
    margin-top: 22px !important;
    max-width: 800px;
    margin-left: 0 !important;
    position: relative !important;
}}

@media (max-width: 1250px){
#search-facets>div, #search-facets.fixed>div {
    width: 25%;
}}
@media (max-width: 1250px){
#search-facets>div, #search-facets.fixed>div {
    display: inline-block;
    float: left;
    width: 200px;
}}

#search-menu h2, #search-facets h2 {
    color: #333;
    font-weight: 200;
    font-size: 1.125em;
    margin-bottom: 4px;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 4px;
}

#search-menu ul, #search-facets ul {
    list-style-type: none;
    padding-left: 0;
}
.option-fct {
    color: #555;
}


.option-fct li {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.option-fct li .checkbox {
}

.option-fct li .checkbox input {
    margin: 5px 0; 
    position: relative; 
    vertical-align: top;
}

.option-fct li .checkbox label {
    vertical-align: top;
    padding-left: 0;
}

.option-fct li .checkbox label span:first-of-type {
    display: inline-block;
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}
@media (max-width: 799px){
.option-fct li .checkbox label span:first-of-type {
    width: 240px;
}
}


.pull-right {
    float: right;
}

.search
{
	border: 1px solid #ccc ;
	overflow: auto;
    border-radius: 5px;
    margin-top: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.search input[type="text"]
{
	border: 0px;
	width: 89%;
    padding: 10px 10px;
    font-size: 1.3571rem;
    font-weight: 300;
    color: #666;
}

.search input[type="text"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: #08c ;
	color: #fff;
	float: right;
    padding: 11px;
    font-size: 1.2857rem;
    font-weight: 300;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
    cursor:pointer;
}

@media (max-width: 699px){
    .search input[type="submit"] {
        display: none;
    }
}

@media (max-width: 699px){
    .search input[type="text"] {
        width: 100%;
    }
}

#left-menu-container {
    position: relative;
    min-height: 1px;
}

.options-button-wrapper {
    z-index: 99;
    text-align: right;
    margin-bottom: -30px;
    margin-top: 15px;
}
@media (max-width: 1250px){
.options-button-wrapper {
    margin-bottom: -15px;
}
}

.formbutton, .nonsubmitbutton {
    color: #fff !important;
    background: #08c !important;
    font-weight: normal;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    font-size: 0.8571rem;
}

.options_button {
    margin: 0 0 9px;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    position: relative;
    display: none;
}
@media (max-width: 1250px){
    .options_button {
    display: inline;
}
}

.formbutton {
    color: #fff;
    font-weight: bold;
}

#search-menu {
    display: none;
    width: 100%;
    margin-bottom: -30px;
}

#search-menu.expanded {
    overflow: inherit !important;
}

#search-options .option-column {
    top: -8px;
}

@media (min-width: 1250px){
.hidden-md-up {
    display: none !important;
}
}

.searchresultsbox {
    color: #000;
    padding: 0;
    margin-top: 30px;
    border-collapse: collapse;
    border-top: 1px solid #D3D3D3;
    width: 100%;
}

.searchresultsboxheader {
    color: #000;
    padding: 2px;
    border-spacing: 0;
    text-align: left;
    font-weight: 200;
    padding: 5px 0;
}

.searchresultsbox big {
    font-weight: 200;
    font-size: 1.4286rem;
}

.searchresultsbox .searchresultsboxheader[align=center] {
    text-align: right;
}

@media (min-width: 700px){
td#td_results:nth-child(2) {
    border-bottom: 1px solid #ddd;
}
}
td#td_results:nth-child(2) {
    padding-bottom: 10px;
    padding-left: 15px;
}

.searchresultsboxheader img {
    margin-bottom: -2px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}
a:link img {
    border: none;
}

#search-menu-right h2 {
    color: #333;
    font-weight: 200;
    font-size: 1.125em;
    margin-bottom: 4px;
    padding-bottom: 4px;
    display: inline;
}
@media (max-width: 1250px){
#search-menu-right{
    list-style-type: none;
    padding-left: 0;
    display: none;
}
}

#search-menu-right ul {
    list-style-type: none;
    padding-left: 0;
    display: inline
}

#search-menu-right li {
    display: inline
}

#search-menu-right .filter_column {
    display: inline
}

.result-row .published .fa {
    padding: 3px 2px 3px 1px;
}

.inline-orcid {
    height: 14px;
    margin-bottom: 5px;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

@media (min-width: 700px){
.result-row .result-abstract {
    width: 700px;
}}
.result-row .result-abstract {
    margin: 7px 0;
    float: left;
}

@media (min-width: 700px){
.search-results td:nth-child(1) {
    border-bottom: 1px solid #ddd;
}}

.search-results td:nth-child(1) {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
}

@media (max-width: 699px){
.search-results td:nth-child(1) {
    padding-left: 0;
}}

.search-results table{
    width: 100%
}

