.stats-box {
    padding-bottom: 10px;
    margin-bottom: 10px;
  
    .stats-data {
      font-size: 36px;
    }
  }



@media (min-width: 768px){
.article-stats#article_detail{ 
  width: 79%;
}
}

@media (min-width: 768px){
.stats_wrap{ 
    display: flex
  }
  }

@media (max-width: 767px){
.altmetric {
  text-align: center;
  margin-top: 15px;
  margin-right: -7px;
  }
}