@import "../invenio_theme/variables";

// If you want to change the primary color you can do something like:
// $color1: rgba(100, 42, 156, 0.8);
// $color1-gradient: lighten($color1, 15%);
// $navbar-default-bg: $color1;