
{%- if record.titles -%}
<h2 class='record-title'>{{record.titles.title}}</h2>
{%- endif %}
{%- if record.descriptions %}
<div class="record-description">

{{ record.descriptions.description|sanitize_html |safe }}
</div>
        <br>
{% endif %}

        {%- set issues = record|issues_for_journal %}

        {%- if issues-%}
        <div class="sections">
<div class="section">
    <h2>Latest Issues</h2>
        {%- for issue in issues %}
        {%- set thumb_url = issue._files|thumb_image %}


        <ul class="cmp_article_list articles" id="journal-issues">
            <li>
                {%- if thumb_url-%}
                <div class="record thumb" id="thumb-journal"><img src="{{thumb_url}}"></div>
                {% endif %}
                <div class="result-row" id="issues-result">
                {%- if issue.titles %}
                    <div class="result-title">
                        <a href="/issues/{{issue.iss_id}}">
                                {{issue.titles.title}}                </a>
                    </div>
                {%- else -%}
                    <div class="result-title">
                        <a href="/issues/{{issue.iss_id}}">
                            {%- if issue.volume %}Volume {{issue.volume}},{%- endif %}{%- if issue.issue %} Number {{issue.issue}}{%- endif %}{%- if issue.year %} ({{issue.year}}){%- endif %}</a>
                    </div>
                {%- endif %}
                <div class="meta">
                {%- if issue.authors -%}
                <div class="authors">
                    {{authors(issue.authors)}}
                </div>
                {%- endif %}
                {%- if issue.pages %}
                <div class="pages">{{issue.pages}}</div>
                {%- endif %}
                </div>
                {%- if issue.descriptions %}
                <div class="summary">{{issue.descriptions.description|striptags|truncate}}</div>
                {%- endif %}
                <ul class="galleys_links">
                    {%-for file in issue._files|sort(attribute='key')  %}
                    {% if file.type is previewable %}
                    {%- set file_url = url_for('invenio_records_ui.iss_id_preview', pid_value=issue.iss_id, filename=file.key) %}
                    {%- else -%}
                    {%- set file_url = url_for('invenio_records_ui.iss_id_files', pid_value=issue.iss_id, filename=file.key, download=1) %}
                    {%- endif -%}   
                    {%- if file.galley_type != 'Cover' -%}
        
                    <li>
                        <a class="obj_galley_link {{file.type}}" href="{{file_url}}" target="_blank">
                                {{ file.label}}
                        </a> 
                    </li>
                    {%- endif -%}   
                    {%- endfor -%}    
                </ul>
                </div>
            </li>

        </ul>
        {% if not loop.last %}<hr> {% endif %}
        {%- endfor -%}  
        <a  class="get-archives" href="/journals/{{pid.pid_value}}/archives">show all archives</a>
    </div>
    {% endif %}
