{% extends config.THEME_ERROR_TEMPLATE %}


{% block message %}
<div class="pagebodymiddle" style="display: block;">       
    <div class="headline_error"><h1 class="headerror">404 Page Not Found</h1></div>    
<p>The page you are looking for could not be found.</p>
</div>
{% endblock message %}