{% extends config.THEME_ERROR_TEMPLATE %}

{% block message %}
<div class="pagebodymiddle" style="display: block;">       
        <div class="headline_error"><h1 class="headerror">500 Internal server error</h1></div>  
    {% if g.sentry_event_id %}  
    <p>{{_('Error identifier')}} {{ g.sentry_event_id }}</p>
    {% endif %}
    </div>
{% endblock message %}
