{% extends config.THEME_BASE_TEMPLATE %}

{%- block page_body %}
<body class="Publishing">

        <div class="pagebody">
            <div class="pagebodymiddle">
                <div class="recordbox">
                        {% block message %}{% endblock message %}
                </div>
                <br/>
                <div class="bottom-left"></div>
                <div class="bottom-right"></div>
            </div>
        </div>
    
    </body>
{%- endblock %}
