{%- extends "invenio_theme/header.html" %}
{%- set img_path = None %} <!-- create filter to get invenio-iiif link image -->
{% set header_title = config.THEME_FRONTPAGE_TITLE %}
{%- set journal_path = "/"  %}
{%- set search_link = "/search"  %}


{%- if record %}
    {%- set header_title = record | journal_title  %} 
    {%- set journal_path = record.search_journal_id | journal_path %}
    {%- set search_link =  request.path | search_path(record) %}
{%- endif -%}

{%- block navbar %}
<div class="pageheader">
    <!-- replaced page header -->
    <div class="headerbox headerlogo">
        <a class="menu-toggle">
            <span class="menu-icon"><i class="fa fa-fw fa-bars"></i></span>
        </a>
        <ul class="menu topmenu neutrallist" style="overflow: hidden; display: none;">
                    <li class="headermoduleboxbodyselected">
                        <a class="header" href="/">
                            Home
                        </a>
                    </li>
                    <li class="headermoduleboxbody">
                        <a class="header" href="http://information-technology.web.cern.ch/services/Publishing-service">
                            About
                        </a>
                    </li>
                    <li class="headermoduleboxbody">
                        <a class="header" href="{{search_link}}">
                            Search
                        </a>
                    </li> 
        </ul>
    </div>
    <!-- end replaced page header -->
    
</div>
<div class="headerboxbodylogo-wrapper">  
    <div class="headerboxbodylogo scrolled">
        <div class="logo-wrapper">
            {%- if img_path %}                    
                <a class="header-link has-img" href="/"> <!--set src=img_path generated from invenio-iif -->
                    <img class="header-img" src="" alt="CERN Publishing">
                </a>
            {%- else %}
                <div>                <a class="header-link" href={{journal_path}}>{{header_title}}</a>
                </div>
            {%- endif %}
            
        </div>
    </div>
</div>

{%- endblock navbar %}




