{%- extends "invenio_theme/page.html" %}


{%- block head_links %}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
{%- if keywords %}<link rel="canonical" href="{{ canonical_url }}"/>{% endif %}
{%- block head_links_langs %}
    {%- if alternate_urls %}
    {%- for alt_ln, alternate_url in alternate_urls.items() %}
<link rel="alternate" hreflang="{{ alt_ln }}" href="{{ alternate_url }}"/>
    {%- endfor %}
    {%- endif %}
{%- endblock %}
{%- block head_apple_icons %}
{%- for size in [144, 114, 72, 57] %}
    {%- set icon_name = 'apple-touch-icon-%d-precomposed.png' | format(size) %}
<link rel="apple-touch-icon-precomposed" sizes="{{ size }}x{{ size }}" href="{{ url_for('static', filename=icon_name) }}"/>
{%- endfor %}
{%- endblock head_apple_icons %}
{%- endblock head_links %}

{%- block css %}
{{ webpack['publishing-theme.css'] }}
{%- endblock %}


{%- block page_header %}
{% include "publishing_theme/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
{%- endblock page_footer %}

{%- block javascript %}
{{super()}}
<script type="text/javascript">
    $('.menu-toggle').click(function() {
        if ($('.topmenu').hasClass("expanded")) {
            $('.topmenu').slideUp(400, "swing", function() {
                $(this).removeClass("expanded");
            });
        } else {
            $('.topmenu').slideDown(400, "swing", function() {
                $(this).addClass("expanded");
            });
        }
    });
  </script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{%- endblock javascript %}
{%- block trackingcode %}
{% include "publishing_theme/trackingcode.html" %}
{%- endblock %}
