
{%- set cover_url = record|cover_image %}
{%- if record.titles and record.titles.title -%}
<h2 class='record-title'>{{record.titles.title}}</h2>
{%- else -%}
<h2 class='record-title'>
    {%- if record.volume %}Volume {{record.volume}},{%- endif %}
    {%- if record.issue %} Number {{record.issue}}{%- endif %}
    {%- if record.year %} ({{record.year}}){%- endif %}</h2>
{%- endif %}
    <br>
    <div id="pkp_content_main" class="pkp_structure_main" role="main">
            <div class="page page_issue">
    <div class="obj_issue_toc">
            {%- if record.descriptions and record.descriptions.description %}
            <div class="record-description" id="issues">
                {{ record.descriptions.description|sanitize_html |safe }}
            </div>
            <br>
            {%- endif %}
            <div class="heading" style="overflow: auto;">
                {%- if cover_url %}
                <a class="cover">
                    <img src="{{cover_url}}"">
                </a>
                {%- endif %}
                <div class="info">
                    {%- include "publishing_records/box/info.html" %}
                </div>
            </div>
            {% if record._files|files_length > 0 or record.related_urls %}
            <br id="full_issue br">
            <div class="galleys" id="full_issue">
                    <h2>Files</h2>
                    <ul class="galleys_links">
                        {%-for file in record._files|sort(attribute='key')  %}
                        {% if file.type is previewable %}
                        {%- set file_url = url_for('invenio_records_ui.iss_id_preview', pid_value=record.iss_id, filename=file.key) %}
                        {%- else -%}
                        {%- set file_url = url_for('invenio_records_ui.iss_id_files', pid_value=record.iss_id, filename=file.key, download=1) %}
                        {%- endif -%}   
                        {%- if file.galley_type != "Cover" %}
                        <li>
                            <a class="obj_galley_link {{file.type}}" href="{{file_url}}" target="_blank">
                                {{file.label}}
                            </a>
                        </li>
                        {%- endif %}
                        {%- endfor -%}
                        {% if record.related_urls %}
                        {%-for url in record.related_urls  %}
                        <li>
                            <a class="obj_galley_link url" href="{{url.related_url}}" target="_blank">
                                {{url.label}}
                            </a>
                        </li>
                        {%- endfor -%}
                        {%- endif %}

                    </ul>
                </div>
            {%- endif %}

            <div class="sections">
                {%- include "publishing_records/box/sections.html" %}
            </div>
        </div>
    </div>
</div>


